body {
    background-image: url(SimpleBooks.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 25vh;
}

#background {
    background-image: url(marble-by-heyhan.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 25vh;
}

#introquote {
    text-align: center;
    width: 500px;
    display: inline-grid;
    align-content: center;
    display: block;
    margin: 0 auto;
}

#currentread {
    display: block;
    margin: 0 auto;
    float: none;
}

img {
    float: left;
    transition: .5s all;
}

img:hover {
    width: 300px;
    transition: 1s all;
}

iframe {
    display: block;
    margin: 0 auto;
}

.bio {
    font-size: 18px;
    padding right: 50px;
    margin: 20px;
    background-color: rgba(214, 219, 223, .6)
}

h1 {
    color: rgb(86, 101, 115);
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 50px
}

h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    transition: .1s all;
}

h2:hover {
    text-decoration: underline;
    text-decoration-color: grey;
    text-decoration-style: wavy;
    transition: .1s all;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

nav ul li {
    display: inline-block;
    width: 300px;
}

a:link {
    text-decoration: none;
    color: rgb(86, 101, 115);
    transition: .2s all;
}

a:visited {
    text-decoration: none;
    color: rgb(86, 101, 115);
}

a:hover {
    font-size: 25px;
    color: rgb(86, 101, 115);
    transition: .5s all;
}

.button {
    padding: 10px;
    border: solid 2px grey;
    border-radius: 4px;
    color: rgb(27, 38, 49);
    cursor: pointer;
    transition: .5s all;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 75px;
}

.button:hover {
    background-color: aliceblue;
    transition: .5s all;
    font-size: 16px;
}

.book {
    position: relative;
}